{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form class="/sell" method="post">
        <div class="form-group">
            <input class="form-control" name="compania" placeholder="Symbol" type='text'/>
        </div>
        <div class="form-group">
            <input class="form-control" name="numero" placeholder="Shares" type="number" min="1"/>
        </div>
        <button class "brn btn-primary" type="submit"> Sell </button>
    </form>
{% endblock %}